body{
  font-family: inter, arial;
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column ;
  margin: 20px;
}
.whole-d{
  border-style: solid;
  background-color: rgb(31, 30, 30);
  border-width: 1px;
  border-color: rgb(39, 38, 38);
  border-radius: 10px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 15px;
  margin-top: 50px;
  margin-bottom: -65px;

}
.name-p{
  font-size: 16px;
  color: white;
  font-weight: 600;
  margin-bottom: 7px;
  
}
.link-i{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-top: 40px;
  
}
.place-p{
  color: rgb(199, 245, 35);
  font-size: 12px;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 0;
}
.work-p{
  color: rgb(184, 184, 184);
  margin-top: 20px;
  margin-bottom: 18px;
  font-size: 12px;
}
body a{
  display: flex;
  color: white;
  text-decoration: none;
  background-color: rgb(66, 66, 66);
  font-weight: 600;
  margin-bottom:10px ;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 12px;
  transition:background-color 0.15s ;
}
body a:hover{
  background-color:rgb(199, 245, 35) ;
  color: black;
}
body a:focus{
 border: 2px black;
}


 
